/*  

styling reset  

*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.icon {
    width: 20px;
    height: 20px;
}


/*  

container for main content styles  

*/
#container {
    width: 75%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}


/*  

styling for list section (creating lists)  

*/
#lists {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

fieldset {
    border-radius: 25px;
    width: 80%;
    height: 100%;
    margin-top: 10px;
    background-color: white;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.list-wrapper{
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

.input-wrapper {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.input-wrapper img {
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

#list-name {
    width: 75%;
    height: 80%;
    border: none;
}

.list-item {
    width: 90%;
    height: 10%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}



/*  

styling for main content (task list)  

*/
#content {
    width: 80%;
    border-left: solid 1px black;
    display: flex;
    flex-direction: column;
}


/*  styling for title of currently selected list  */
#title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: end;
    padding-left: 10%;
}

#title h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 150%;
    background-color: #000;
    margin: 8px auto 0;
}



/*  styling for tabs that organize the task items (all, active, completed, priority)  */
.tab-wrapper {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 8%;
}

.label-wrapper {
    display: flex;
    justify-content: space-between;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.tab-wrapper label {
    display: flex;
    flex-wrap: nowrap;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
}



/*  Priority slider graphic styling  */
#priority {
    display: flex;
    padding: 15px;
    margin-right: 10%;
}

.slider-container {
    position: relative;
    top: 15%;
    margin-left: 20px;
}

.slider {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.bar {
    width: 40px;
    height: 4px;
    background-color: #333;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    left: 0;
    transition: left 0.3s ease-in-out;
}

.circle.moved {
    left: calc(100% - 20px);
}



/*  styling for task list  */
.task-item {
    display: flex;
    flex-wrap: nowrap;
    height: 10%;
    width: 100%;
    background-color: lightblue;
    align-content: center;
    justify-content: space-between;
    padding: 5%;
}

.task-item div {
    display: flex;
    align-items: center;
}

.task-item div img {
    margin: 20px;
}