<footer>
        <aside class="splash-img"></aside> 
        <p>2024 TaskMaster. All Rights Reserved &copy;</p>
    </footer>
    <style>
        footer {
            font-family: 'Exo', sans-serif;
            position: relative;
            text-align: center;
            width: 100%;
            height: 200px;
            color: #F3F3F3;
        }

        footer p {
            position: absolute;
            bottom: 0;
            width: 100%;
            margin-bottom: 10px;
            left: 0;
            background-color: #394A6D;
            padding: 5px;
        }
    </style>