    <header>
        <nav class="navbar navbar-expand-sm container-fluid">
            <div class="logo-container">
                <img src="images/logo-image.svg" alt="TaskMaster Logo" class="navbar-logo">
                <img src="images/logo-text.svg" alt="TaskMaster" class="navbar-logo-text">
            </div>
            <a href="{{ @BASE }}{{ 'home' | alias }}">Login/Sign up</a>
            <a href="{{ @BASE }}{{ 'app' | alias }}">TO-DO List</a>
            <a href="{{ @BASE }}{{ 'contactUs' | alias }}" class="nav-link active">Contact Us</a>
            <span>Hi, Username</span>
            <div class="profile-icon">
                <img src="profile-icon.png" alt="Profile Icon">
            </div>
        </nav>
    </header>

