<include href="includes/head.html">
    <div class="container mt-5">


        <!-- Display current username -->
        <div class="alert alert-info" role="alert">
            Current Username: {{ @user.username }}
        </div>


        <!-- Error messages -->
        <div id="error-msg" class="alert alert-warning my-2 py-auto">{{ "<br>", @errors | implode }}</div>


        <form method="POST" action="{{ @BASE }}{{ 'profileUpdate' | alias }}" class="mb-4"
            enctype="multipart/form-data">

            <!-- Input: Username -->
            <div class="form-group mb-3">
                <label for="username" class="form-label m-0">New Username:</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Enter a username"
                    value="{{ isset(@username) ? @username : '' }}">
            </div>

            <!-- Input: Password -->
            <div class="form-group mb-3">
                <label for="password" class="form-label m-0">New Password:</label>
                <input type="password" id="password" name="password" class="form-control"
                    placeholder="Enter a password">
            </div>
            <!-- Input: Password -->
            <div class="form-group mb-3">
                <label for="password-confirm" class="form-label m-0">Confirm new Password:</label>
                <input type="password" id="password-confirm" name="password-confirm" class="form-control"
                    placeholder="Confirm the password">
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </div>
            <input type="hidden" id="update-success" value="{{ @successMessage }}">

        </form>
        <form method="POST" action="{{ @BASE }}{{ 'profileDelete' | alias }}"
            onsubmit="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
            <div class="mb-3">
                <button type="submit" class="btn btn-danger">Delete Account</button>
            </div>

            <input type="hidden" id="update-success" value="{{ @successMessage }}">

        </form>

        <div class="mb-3">
            <a href="{{ @BASE }}{{ 'home' | alias }}" class="btn btn-secondary">Home</a>

        </div>


    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const successMessage = document.getElementById('update-success').value;
            if (successMessage) {
                alert(successMessage);
            }
        });
    </script>
    </body>

    <style>
        .btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            border-radius: 60px;
            height: 48px;
            font-weight: 500;
        }

        .btn-secondary:hover {
            background-color: rgb(150, 150, 150) !important;
        }

        .btn-danger {
            background-color: rgb(175, 0, 0) !important;
        }

        .btn-danger:hover {
            background-color: rgb(200, 0, 0) !important;
        }
    </style>

    </html>