body {
    background-image: url("../images/main-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body > .container-fluid {
    overflow-y: auto;
    overflow-x: hidden;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

/*
    Header navigation
*/
.navbar {
    background-color: rgba(243, 243, 243, 0.8);
    /*background-color: rgba(57, 74, 109, 0.8);*/
    height: 80px;
}

.horizontal-logo {
    width: 245px;
}

/*
    TO DO List container
*/
#list-container {
    min-height: calc(100% - 150px);
}

.icon {
    width: 20px;
    height: 20px;
}

/* 
    Lists section
*/
aside {
    border-radius: 20px 20px 0px 0px;
    background-color: coral;
}
aside ul {
    list-style-type: none;
}

/*
    Create list input
*/
aside fieldset {
    width: 100%;
}
aside fieldset legend {
    position: absolute;
    z-index: 1;
    top: -10px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 80px;
}
/* The rounded rectangle */
aside fieldset .input-wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: white;
}
/* Create list add btn */
aside fieldset .input-wrapper input[type=image] {
    height: 100%;
    width: auto;
    margin-left: 2%;
}
/* The input */
aside fieldset .input-wrapper input[type=text] {
    width: 85%;
    height: 90%;
    border: none;
}

aside ul {
    /*height: 50%;*/
    list-style-type: none;
    padding-left: 0;
    /*overflow-y: auto;*/
}

/* 
    Selected list todo
*/
main {
    border-radius: 0px 0px 20px 20px;
    background-color: #F3F3F3;
}

#title {
    border-bottom: 1px solid black;
}

/*
    Footer
*/
footer {
    background-color: #394a6d;
    color: white;
    font-size: 0.8rem;
}




@media (min-width: 768px) {

    aside {
        border-radius: 20px 0px 0px 20px;
    }

    main {
        border-radius: 0px 20px 20px 0px;
    }
}
